body {
    background-color: #0e0e10;
}

.register-container {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: auto;
    margin: 4rem auto;
    border-radius: 0.4rem;
    padding: 3rem;
    background-color: #0f131a;
    color: #ffffff;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.redirect-text {
    font-size: 1rem;
    margin-bottom: 4rem;
    color: #5865f2;
    text-decoration: none;
    width: 12rem;
}