body {
  background-color: #0e0e10;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: auto;
  margin: 4rem auto;
  border-radius: 0.4rem;
  padding: 3rem;
  background-color: #0f131a;
  color: #ffffff;
}

.selector-screen {
  display: flex;
  flex-direction: row;
}

.weekly-stats {
  display:flex;
  flex-direction: column;
}

.weekly-stat-counter {
  float:right;
  margin-right: 10px;
}

.week-divider {
  background-color: rgb(96, 99, 106);
  width: 300px;
  height: 70px;
  border-radius: 50px;
  align-items: center;
  font-size: 30px;
  font-weight: bolder;
}

.week-subtext {
  font-size: 14px !important;
}

.week-box {
  background-color: rgb(96, 99, 106);
  width: 280px;
  height: 200px;
  border: solid;
  border-color: #36393f;
  border-width:5px;
  border-radius: 10px;
  margin: auto;
}

.weekly-box-text {
  font-size: 20px !important;
  font-weight: bold !important;
  margin-left: 10px !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.weekly-box-divider {
  background-color: #36393f;
  width:280px;
  height:5px;
}

.create-task-box {
  background-color: rgb(96, 99, 106);
  width: 400px;
  height: 280px;
  border: solid;
  border-color: #36393f;
  border-width:5px;
  border-radius: 10px;
  position: absolute;
  right: 5%;
  text-align: center;
  align-items: center;
  font-size: 30px;
  font-weight: bolder;
}

.create-task-box-divider {
  background-color: #36393f;
  width:400px;
  height:5px;
}

.create-task-text-field {
  margin-top: 10px !important;
}

.css-1hnl2uv-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  width: 90px !important;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  background-color: #36393f !important;
}

.task-card {
  width: 180px;
  border-radius: 20px !important;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
}


@keyframes card-transition {
  from {background-color: white;}
  to {background-color: rgb(55, 55, 172);}
}


.task-card-header {
  color: black !important;
  align-self: center;
  margin: none;
  padding:none;
  font-size: 20px;
  font-weight: bold;
}

.task-card-text1 {
  color: gray !important;
  margin: 0px;
  font-size: 16px;
  font-weight: bold;
}

.divider {
  background-color:#36393f;
  border-radius: 30px;
  height:30px;
  text-align: center;
  align-items: center;
  font-weight: bold;
}

.divider-container {
  display:flex;
}

.css-1ws8119-MuiDivider-root {
  margin-top:10px !important;
  margin-bottom: 10px !important;
}

.css-169iwlq-MuiCalendarPicker-root {
  margin-left: 0px !important;
  margin-right: 10px !important;
}

.css-6t5f1e-MuiDayPicker-monthContainer {

  background-color: rgb(96, 99, 106);
  color: rgb(96, 99, 106);
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-bottom: 10px;
}

.css-qklzlb-MuiDayPicker-header {
  background-color: rgb(96, 99, 106);
}

.css-nk89i7-MuiPickersCalendarHeader-root {
  background-color: rgb(96, 99, 106);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-top: 6px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.MuiSelected {
  background-color: red !important;
}

.css-195y93z-MuiButtonbase-root-MuiPickersDay-root
.MuiSelected {
  background-color: red !important;
}