.doom-factor-skull {
  display: flex;
  justify-content: center;
  position: relative;
}

.doom-factor-avatar {
  background-color: white !important;
  position: absolute;
  transition: all 1s;
  z-index: 2;
  border: 3px white solid;
  color: black !important;
}

.doom-factor-avatar:hover {
  scale: 1.1;
  border-color: black;
  cursor: pointer !important;
}

.background-fire {
  overflow: hidden;
  display: flex;
  position: absolute;
}

.background-fire-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
