.doom-factor-skull {
  display: flex;
  justify-content: center;
  position: relative;
  transition: 1s all !important;
}

.doom-factor-avatar {
  background-color: white !important;
  position: relative;
  transition: all 0.7s;
  z-index: 2;
  border: 3px white solid;
  color: black !important;
  left: 0px;
}

.doom-factor-avatar:hover {
  scale: 1.1;
  border-color: black;
  cursor: pointer !important;
}

.doom-factor-avatar-profile-picture {
  transition: all 1s;
}

.avatar-flaming-skull-video {
  position: absolute !important;
}

.doom-factor-value {
  position: absolute;
  transition: all 0.6s;
  z-index: 3 !important;
  /* text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 40px #0fa, 0 0 30px #0fa, 0 0 1px #0fa !important; */

  text-shadow: 1px 1px 2px black !important;
  /* text-align: center !important; */
  /* animation: doom-factor-number-pulse 4s ease-in-out infinite !important; */
}

.background-fire {
  overflow: hidden;
  display: flex;
  position: absolute;
}

.background-fire-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.show-doom-factor-grow {
  position: absolute;
  top: 0px;

  transition: all 1s !important;
}

.doom-factor-words {
  display: flex;

  margin: auto;
  position: relative;
}

.doom-part {
  position: absolute;
  right: -100px;
  top: 15px;
  color: rgb(117, 117, 174) !important;
}

.show-doom-factor-grow:hover {
  scale: 1.1 !important;
  color: rgb(55, 55, 172) !important;
}

.factor-part {
  position: absolute;
  top: 115px;
  right: -100px;
}

.doom-factor-background-fire-embers {
  position: absolute;

  overflow: hidden !important;
  top: -300px !important;
  left: 0px !important;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
  opacity: 0.4;
}

.doomFactor-in-skull {
  position: absolute;
  z-index: 3 !important;
  /* color: rgb(200, 12, 12) !important; */
  align-items: center !important;
  justify-content: center !important;
  font-weight: bold !important;
  font-size: 100px !important;
  text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 40px #0fa, 0 0 30px #0fa, 0 0 1px #0fa;
  /* text-align: center !important; */
  animation: doom-factor-number-pulse 4s ease-in-out infinite !important;
}

@keyframes doom-factor-number-pulse {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
