body {
  background-color: #0e0e10;
}

.friends-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: auto;
  margin: 4rem auto;
  border-radius: 0.4rem;
  padding: 3rem;
  padding-top: 36px;
  color: #ffffff;
}

.friends-title {
  font-size: 64px;
  align-self: center;
  margin-top: 0px;
}

.profile-image {
  border-radius: 50%;
}

.friend-text {
  font-size: 20px !important;
  font-weight: bold !important;
  margin-left: 10px !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  color: white !important;
}

.u-lonely-ass {
  font-size: 25px !important;
  margin-left: 10px !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  color: white !important;
}

.list-box {
  background-color: #262626;
  border-radius: 0.8rem;
}

.friend-box {
  background-color: #878787;
  margin: 1rem auto;
  border-radius: 0.8rem;
  padding: 8px;
}