.background-fire-class-profile-tracker {
  overflow: hidden;
  display: flex;
  position: absolute;
  z-index: 1;
  transition: all 1s !important;
}

.background-fire-video-fade-in {
  overflow: hidden !important;
  display: block;
  object-fit: cover;
  /* scale: 1; */
  width: 100vw !important;
  height: 100vh !important;
  z-index: 1;
  opacity: 1;
  margin: 0;
  position: fixed;
  /* animation: fadeIn 1s !important; */
  /* transition: 1s all !important; */
  /* transition: opacity 1s ease !important; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.background-fire-video-fade-out {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  /* animation: fadeOut 1s !important;
  transition: opacity 1s ease !important; */
  /* opacity: 0 !important; */
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.doom-factor-number {
  overflow: hidden;
  display: flex;
  position: absolute;
  z-index: 1;
  transition: all 1s;
  width: 100%;
  height: 100%;
  margin: auto;
  top: -20%;
  /* left: 50%; */
  font-size: 40px;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  /* margin-top: -20px;
  margin-left: -20px; */
  transition: 1s all;
  color: red !important;
  /* text-shadow: 0 0 0 0 rgb(255, 0, 0);
  transform: scale(1);
  animation: pulse 2s infinite !important; */
}

.doom-factor-number-typography {
  border-radius: 50%;
  /* border: 3px white solid; */
  text-shadow: 0 0 0 0 rgb(255, 0, 0);
  transform: scale(1);
  animation: pulse 2s infinite !important;
  /* -webkit-animation: glow 1s ease-in-out infinite alternate !important; */
  /* -moz-animation: glow 1s ease-in-out infinite alternate !important; */
  /* animation: glow 1s ease-in-out infinite alternate !important; */
}

@keyframes pulse {
  0% {
    transform: scale(1);
    text-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    text-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }

  100% {
    transform: scale(1);
    text-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
