/* Profile Tracker */
.profile-tracker-container {
  display: flex;
  flex-direction: column;
  width: 60vm;
  /* border: #ffffff 1px solid; */
  height: auto;
  margin: 0rem;
  padding: 3rem;
  border-radius: 0.4rem;
  border-width: 3px !important;
  /* background-color: #0f131a; */
  justify-content: center;
}

#profile-tracker-title {
  background-color: transparent;
  width: 97%;
  height: 80%;
  border-radius: 50px;
  border-color: white !important;
  border-width: 5px !important;
  border-style: solid !important;
  align-items: center;
  font-size: 30px;
  font-weight: bolder;
  transition: all 1s;
}

#profile-tracker-title:hover {
  letter-spacing: 10px !important;
  scale: 1.05;
  border-color: rgb(55, 55, 172) !important;
}

/* Progress Bar Components */
.progress-bar-whole {
  margin: 10px;
  /* border: 3px white solid; */
}

.progress-bar-header {
}

.progress-bar-label {
}

.progress-bar {
  transition: all 1s;
}

.progress-bar:hover {
  scale: 1.1;
}

.dialog-box {
}

.dialog-content {
  display: flex;
  flex-direction: row;
}

.completed-tasks-dropdown {
  position: absolute;
  right: 0;
  top: 0;
}

.progress-dropdown-list {
  margin: 0px 10px;
}

.progress-dropdown-list-box {
  width: 400px;
}

.progress-dropdown-list-title {
  font-weight: bold !important;
}

.progress-dropdown-list-item {
  border-radius: 20px !important;
}

.progress-dropdown-list-item:hover {
  scale: 1.05;
}

.divider {
  background-color: #36393f;
  border-radius: 30px;
  height: 30px;
  text-align: center;
  align-items: center;
  font-weight: bold;
}

.progress-bar-percentage {
  transition: all 1s;
  font-size: 20px !important;
  font-weight: bold !important;
  margin-left: auto !important;
  order: 2;
}

.progress-bar-percentage:hover {
  scale: 1.05;
  color: rgb(55, 55, 172) !important;
}

.progress-bar-label {
  transition: all 1s;
  font-size: 20px !important;
  font-weight: bold !important;
}

.progress-bar-label:hover {
  scale: 1.05;
  color: rgb(55, 55, 172) !important;
}

.progress-bar-dropdown-button {
  transition: all 1s;
}

.progress-bar-dropdown-button:hover {
  scale: 1.05;
  color: rgb(55, 55, 172) !important;
}
