body {
  background-color: #0e0e10;
}

.landing-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: auto;
  margin: 4rem auto;
  border-radius: 0.4rem;
  padding: 3rem;
  padding-top: 36px;
  color: #ffffff;
  background-color: #0e0e10;
  align-items: center; 
}

.landing-skull {
  width: 15vw;
  height: auto;
}

.landing-title {
  font-size: 50px !important;
  margin-top: 20px !important;
  color: #ffffff !important;
}

.landing-text {
  font-size: 18px !important;
  margin-top: 20px !important;
  color: #ffffff !important;
  font-weight: normal !important;
}

.landing-button-1 {
  font-size: 18px !important;
  margin-top: 20px !important;
  padding: 0.6em 2em!important;
  border: none !important;
  outline: none !important;
  color: rgb(255, 255, 255) !important;
  background: rgb(0, 0, 0) !important;
  cursor: pointer !important;
  position: relative !important;
  z-index: 0 !important;
  border-radius: 10px !important;
  -webkit-user-select: none !important;
  user-select: none !important;
  touch-action: manipulation !important;
}

.landing-button-1:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ffffff,
    #E3E3E3,
    #BCBCBC,
    #858484,
    #6D6D6D,
    #4F4F4F, 
    #222,
    #111,
    #0e0e10
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-landing-button-1 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-landing-button-1 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.landing-button-1:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.login-divider {
  border-top: 1px solid #ffffff !important;
  margin-top: 30px !important;
}

.landing-button-2 {
  color: #6D6D6D !important;
  font-size: 18px !important;
}

